
<div class="container">
<h1>Stupid Coaching</h1>
<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question"  class="form-control corner-one" placeholder="place your question">
  <input type="submit" class="btn btn-primary corner" value="Ask!">
</form>
</div>
<!-- -->
